/**********************************************************************
 MAIN
**********************************************************************/

body {
  font-family: Laksaman,sans-serif;
}



/**********************************************************************
 CSS OUTPUT
**********************************************************************/

.css-rules {
  font-family: Consolas, Inconsolata, monospace;
}


.css-properties {
  margin-left: 1.2rem;
}

.css-property-property {
  display: inline-block;
}

.css-property-value {
  display: inline-block;
}

