html,
body,
h1, h2, h3, h4, h5, h6,
ul, ol, li,
p, div, span,
input, select, textarea,
table, tr, td, thead, tbody,
header, footer, main, section, article, aside,
iframe {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", Helvetica, Arial, sans-serif;
}
