@import (reference) '../../../styles/variables.less';

.property-form {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
}
.property-input {
  width: 50%;
  border: 1px solid transparent;
  padding: @margin / 4 0;
  margin: 0 @margin / 4;
  color: #666;
  border-bottom-color: #ccc;
}
.property-input:focus {
  color: #000;
  outline: none;
}
.property-field {
  text-align: right;
  max-width: 8em;
  font-family: Courier New, Courier, monospace;
}
.property-value {
  flex-grow: 1;
  font-family: Courier New, Courier, monospace;
}
